*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Farm Mech{
    display: grid;

}
#header{
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
    gap: 10px;
    align-items: center;
}
#header h1{
    color: green;
    display: flex;
    margin-top: -10px;
}
#header p{
    color: grey;
    display: flex;
    font-size: 14px;
    margin-top: 35px;
    margin-left: -280px;
}
#nav{
    display: flex;
    /* justify-content: end;
    align-items: center; */
    gap: 20px;
    margin-left: 780px;
    margin-right: 30px;
}
#nav a{
    text-decoration: none;
    color: white;
    background-color: #32A75C;
    
}